*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wlogo{
    width: 200px;
    margin-top: 20px;
}
.home{
    margin-top: 20px;
}
.home li{
    list-style: none;
    padding: 10px;
    width:115px;
    line-height: 20px;
    margin-top: 20px;
}
.home li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}
.input{
    height: 40px;
    margin-top: 40px;
}
.img{
    position: absolute;
    float:right;
}
.p-3{
    height: 90px;
    border: solid 1px rgb(188, 188, 188);
    border-radius: 3px;
}